<%- include("partials/header.ejs") %>
  <h1>My Work</h1>
    <div class="projects">
        <% projects.forEach(project => { %>
            <a target="_blank" href="<%= project.url %>" class="project text-decoration-none">
                <% if ((projects.indexOf(project) + 1) % 2 != 0) { %>
                    <img src="images/<%= project.img %>.png" alt="codermint" class="project-img">
                <% } %>
                
                <div class="project-desc">
                    <h2><%= project.name %></h2>
                    <p><%= project.desc %></p>
                    <p class="add-info"><%= project.add %></p>
                </div>

                <% if ((projects.indexOf(project) + 1) % 2 === 0) { %>
                    <img src="images/<%= project.img %>.png" alt="<%= project.name %>" class="project-img">
                <% } %>
            </a>
        <% }) %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<%- include("partials/footer.ejs") %>